*/ html,
body {
  font-family: 'roboto', Verdana, sans-serif;
  color: #ddd;
}

@media (max-width: 991px) {
  .showcase,
  .showcase header {
    padding: auto;
  }
  .text h2 {
    font-size: 3em;
    /* margin: auto; */
  }
  .text h3 {
    font-size: 2em;
  }
  .toggle {
    color: #4f4f4f;
    position: fixed;
    top: 0px;
    right: 15px;
    z-index: 5;
    text-decoration: none;
    font-size: 3rem;
    text-shadow: 1px 1px 10px hsla(30, 0%, 0%, 1);
    transition: all 0.15s ease;
    cursor: pointer;
    border-style: none;
    background-color: transparent;
  }
  .toggle img {
    width: 75px;
    padding-right: 5px;
    padding-left: 30px;
    padding-top: 15px;
    color: #4f4f4f;
  }
  .hidden-nav {
    position: fixed;
    display: block;
    top: 100px;
    bottom: 0px;
    padding: 2rem;
    z-index: 10;
    width: 300px;
    background-color: rgba(61, 20, 243, 0.4);
    border-radius: 2%;
    transition: all 0.15s ease;
    font-size: 1.6rem;
    /* text-decoration: none; */
    font-weight: bold;
  }
  nav a.active {
    color: #7c7878;
    text-decoration: none;
  }
  .hidden-nav a:hover {
    color: #e1f6f4;
    transition: all 0.3s ease;
    text-decoration: none;
  }
  nav a {
    text-decoration: none;
    padding: 0.5rem;
    display: block;
    color: rgba(212, 206, 241, 0.8);
  }
}
