.video-showcase {
  background-color: rgb(8, 8, 8, 0.6);
  width: 100%;
  color: white;
  padding: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0.2rem;
  object-fit: contain;
}
