.video-showcase {
  background-color: transparent;
  width: 100%;
  color: white;
  padding-top: 7rem;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0.2rem;
  object-fit: contain;
}
