@use postcss-preset-env {
  stage: 0;
}

/* config.css */

:root {
  --baseColor: #202020;
}

/* helpers/align.css */

.align {
  display: flex;
  place-items: center;
  justify-content: center;
  padding-top: 100px;
  position: relative;
  top: 20;
}

.grid {
  inline-size: 90%;
  margin-inline: auto;
  max-inline-size: 20rem;
}

/* helpers/hidden.css */

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* helpers/icon.css */

:root {
  --iconFill: var(--baseColor);
}

.icons {
  display: none;
}

:root {
  --htmlFontSize: 100%;

  --bodyBackgroundColor: #060707;
  --bodyColor: var(--baseColor);
  --bodyFontFamily: 'Open Sans';
  --bodyFontFamilyFallback: sans-serif;
  --bodyFontSize: 0.875rem;
  --bodyFontWeight: 400;
  --bodyLineHeight: 1.5;
}

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: var(--htmlFontSize);
}

body {
  background-color: var(--bodyBackgroundColor);
  color: var(--bodyColor);
  font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
  font-size: var(--bodyFontSize);
  font-weight: var(--bodyFontWeight);
  line-height: var(--bodyLineHeight);
  margin: 0;
  min-block-size: 100vh;
}

/* modules/anchor.css */

:root {
  --anchorColor: rgb(226, 70, 218);
}

a {
  color: var(--anchorColor);
  outline: 0;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

/* modules/form.css */

:root {
  --formGap: 0.875rem;
}

input {
  background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  transition: background-color 0.3s;
}

input[type='submit'] {
  cursor: pointer;
}

.form {
  display: grid;
  gap: var(--formGap);
}

.form input[type='time'],
.form input[type='text'],
.form input[type='date'],
.form input[type='submit'] {
  inline-size: 100%;
}

.form__field {
  display: flex;
}

.form__input {
  flex: 1;
}

/* modules/login.css */

:root {
  --loginBorderRadus: 0.25rem;
  --loginColor: #eee;

  --loginInputBackgroundColor: #3b4148;
  --loginInputHoverBackgroundColor: #434a52;

  --loginLabelBackgroundColor: #363b41;

  --loginSubmitBackgroundColor: #370791;
  --loginSubmitColor: #eee;
  --loginSubmitHoverBackgroundColor: #9420e2;
}

.show {
  color: var(--loginColor);
}

.show label,
.show input[type='text'],
.show input[type='date'],
.show input[type='time'],
.show input[type='submit'] {
  border-radius: var(--loginBorderRadus);
  padding: 1rem;
}

.show label {
  background-color: var(--loginLabelBackgroundColor);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-inline: 1.25rem;
}

.show input[type='date'],
.show input[type='time'],
.show input[type='text'] {
  background-color: var(--loginInputBackgroundColor);
  margin: 0.25rem;
  /* border-bottom-left-radius: 0;
    border-top-left-radius: 0; */
}

.show input[type='text']:focus,
.show input[type='text']:hover,
.show input[type='date']:focus,
.show input[type='date']:hover,
.show input[type='time']:focus,
.show input[type='time']:hover {
  background-color: var(--showInputHoverBackgroundColor);
}

.show input[type='submit'] {
  background-color: var(--loginSubmitBackgroundColor);
  color: var(--loginSubmitColor);
  font-weight: 700;
  text-transform: uppercase;
}

.show input[type='submit']:focus,
.show input[type='submit']:hover {
  background-color: var(--loginSubmitHoverBackgroundColor);
}

/* modules/text.css */

p {
  margin-block: 1.5rem;
}

.text--center {
  text-align: center;
}

@media (max-width: 991px) {
  .show input {
    display: inline-block;
    /* flex: 5; */
  }
  .form__field {
    display: inline-block;
  }
}
