.show-showcase {
  background-color: transparent;
  color: white;
  padding: 2rem 10rem;
}

.show-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  background-color: black;
  border-color: white;
  border-style: solid;
  margin-top: 5rem;
  height: 15rem;
  font-size: 1.5em;
}

.date-container {
}

.location-container {
}

.city-container {
}
