* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* .social-container {
  display: flex;
  position: fixed;
  z-index: 3;
  bottom: 0;
  display: flex;
  margin-left: 1rem;
} */
/* .social {
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .social li {
  list-style: none;
} */
/* .social li a {
  display: inline-block;
  margin-right: 1rem;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
  width: 2rem;
}
.social-img {
  width: stretch;
}
.social li a:hover {
  transform: scale(0.5) translateY(-15px);
} */

.social-footer {
  width: 100%;
  text-align: center;
  color: rgb(248, 246, 246);
  /* background-color: black; */
}

.social-footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-footer ul li {
  display: inline;
  padding-right: 1em;
  width: 50px;
}

footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1% 5%;
  text-align: center;
  /* background-color: #000; */
  background: linear-gradient(
    rgba(2, 0, 36, 0) 0%,
    rgba(0, 212, 255, 0.2) 35%,
    rgba(9, 9, 121, 0.7) 100%
  );
  opacity: 1;
  z-index: 100;
}

footer a {
  font-weight: 500;
  text-decoration: none;
  pointer-events: visibleFill;
}

/* .copyright {
  padding-bottom: 0px;
  padding-top: 5px;
  color: #6a7176;
} */
a[name]:hover::after {
  content: attr(name);
  position: absolute;
  top: -100%;
  left: 0;
}
a:hover {
  text-decoration: none;
  color: rgb(254, 254, 254);
}
a {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  color: rgb(255, 255, 255);
}
